.wrapper
{
width:1000px;
background:#0040ff;
margin:0 auto;
float:center;
height:1230px;
}

.head{
height:250px;
background:#0033cc;
border:5px solid powderblue;
padding:2px;
}
.mid{
margin-top:100px;
}
.scrollmenu {
    background-color: purple;
    overflow-left:150;
    white-space: nowrap;
}
.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
.scrollmenu a:hover {
    background-color: #777;
}

.quotes
{
width:1000px;
background:red;
float:center;
height:250px;
}
.quotes1
{
width:250px;
background:red;
float:left;
height:250px;
}
.quotes2
{
width:750px;
background:yellow;
margin-left:250px;
height:250px;
}
}
.search
{
width:1000px;
background:silver;
float:center;
padding:10px;
text-align:center;
}
.search1
{
width:250px;
height:250px;
float:center;
margin-left:370px;
padding:10px;
text-align:center;
}

}
.gif
{
width:1000px;
background:green;
float:center;
margin-right:50px;
height:450px;

}

.developer
{
width:1000px;
background:black;
float:center;
height:20px;
}